html {
	--selection-color: hsl(220, 100%, 95%);
	--inactive-selection-color: hsl(220, 0%, 95%);
	--caret-color: hsl(220, 100%, 45%);
	--inactive-caret-color: transparent;
}

.disable-native-selection::-moz-selection {
	background-color: transparent;
}
.disable-native-selection::selection {
	background-color: transparent;
}
